<html>
    <head>
        {{#block "head"}}
            <script src="/vendor/jquery.js"></script>
            <script src="/vendor/caustic.js"></script>
        {{/block}}
    </head>
    <body>
        {{#block "content"}}{{/block}}
        {{#block "foot"}}
            <div id="footer">
                <p>
                    some footer content
                </p>
            </div>
        {{/block}}
    </body>
</html>
