<html>
<head>
    <title>
        My Site – {{title}}
    </title>
    {{#block "scripts"}}
        <script src="/jquery.js"></script>
    {{/block}}
</head>
<body>
    {{#block "content"}}{{/block}}
    {{#block "foot"}}
        <div id="footer">
            <p>
                some footer content
            </p>
        </div>
    {{/block}}
</body>
</html>
