{{#extends "layout"}}

{{#block "content"}}
    <div class="sidebar">
        {{#block "sidebar"}}
            <p>
                nothing
            </p>
        {{/block}}
    </div>
    <div class="primary">
        {{#block "content"}}
            <p>
                nothing
            </p>
        {{/block}}
    </div>
{{/block}}

{{/extends}}
